Adf_pipeline/Template/01_DataMove_BatchTime/01_DataMove_BatchTime.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"filesharetest":{"type":"string"},"blobstoragetest":{"type":"string"},"AzureBatchfreshpool_link":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/01_DataMove_BatchTime')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Batch_Time_Variable","description":"This activity would convert the batch size from positive value to negative value by multiplying it with -1 so that it takes the files from past -(15 minutes)","type":"SetVariable","dependsOn":[{"activity":"Store_Trigger_Hour","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"Batch_Time","value":{"value":"@string(mul(int(pipeline().parameters.Batch_Size),-1))","type":"Expression"}}},{"name":"Loop_Until_Time_equals _Pipeline_Time","description":"This activity consists of set variable activity which would divide the pipeline time by batch size resulting in batch count along with start & end time of each btach","type":"Until","dependsOn":[{"activity":"Batch_Time_Variable","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@less(int(pipeline().parameters.Pipeline_Time),mul(int(variables('Batch_Time')),-1))","type":"Expression"},"activities":[{"name":"Batch_Array_variable","type":"AppendVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"Batch_Array","value":{"value":"@variables('Batch_Time')","type":"Expression"}}},{"name":"Batch_Time_Increment_variable","type":"SetVariable","dependsOn":[{"activity":"Batch_Array_variable","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"Batch_Time_Increment","value":{"value":"@string(sub(int(variables('Batch_Time')),int(pipeline().parameters.Batch_Size)))","type":"Expression"}}},{"name":"Set_Batch_Time_variable","type":"SetVariable","dependsOn":[{"activity":"Batch_Time_Increment_variable","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"Batch_Time","value":{"value":"@variables('Batch_Time_Increment')","type":"Expression"}}}],"timeout":"7.00:00:00"}},{"name":"Loop_Every_Batch","description":"This will take the run count from the previous activity & the sub activity will run accordingly that number of times.","type":"ForEach","dependsOn":[{"activity":"Loop_Until_Time_equals _Pipeline_Time","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@variables('Batch_Array')","type":"Expression"},"isSequential":false,"activities":[{"name":"Copy_To_Destination_Blob","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@addminutes(variables('Time_Path'),int(item()))","type":"Expression"},"modifiedDatetimeEnd":{"value":"@addminutes(variables('Time_Path'),add(int(pipeline().parameters.Batch_Size),int(item())))","type":"Expression"},"wildcardFolderPath":{"value":"@concat('heartbeat/',formatDateTime(subtractFromTime(pipeline().TriggerTime,1,'Hour'), 'yyyy/M/dd/HH'))","type":"Expression"},"wildcardFileName":"*.gz","enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false,"parallelCopies":48,"enableSkipIncompatibleRow":true,"dataIntegrationUnits":32},"inputs":[{"referenceName":"01_heartbeat_FS_json_source","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"01_heartbeat_blob_json_sink","type":"DatasetReference","parameters":{}}]},{"name":"Delete_From_Source_FileShare","type":"Delete","dependsOn":[{"activity":"Copy_To_Destination_Blob","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"01_heartbeat_FS_json_delete_source","type":"DatasetReference","parameters":{}},"enableLogging":false,"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@addminutes(variables('Time_Path'),int(item()))","type":"Expression"},"modifiedDatetimeEnd":{"value":"@addminutes(variables('Time_Path'),add(int(pipeline().parameters.Batch_Size),int(item())))","type":"Expression"},"wildcardFileName":"*.gz","enablePartitionDiscovery":false}}},{"name":"Execute_Custom_Pipeline","type":"ExecutePipeline","dependsOn":[{"activity":"Copy_To_Destination_Blob","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"02_ErrorFiles_ExceptionHandling","type":"PipelineReference"},"waitOnCompletion":false,"parameters":{"Start_Time":{"value":"@addminutes(variables('Time_Path'),int(item()))","type":"Expression"},"End_Time":{"value":"@addminutes(variables('Time_Path'),add(int(pipeline().parameters.Batch_Size),int(item())))","type":"Expression"}}}}]}},{"name":"Store_Trigger_Hour","description":"It will take the hour of the trigger time excluding the minutes which is further passed in the copy activity.\nFor eg the trigger time is 11:10 it will take 11 as the hour for the copy activity ","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"Time_Path","value":{"value":"@concat(formatDateTime(pipeline().TriggerTime,'HH'),':00')","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Pipeline_Time":{"type":"string","defaultValue":"60"},"Batch_Size":{"type":"string","defaultValue":"15"}},"variables":{"Batch_Array":{"type":"Array"},"Batch_Time":{"type":"String"},"Batch_Time_Increment":{"type":"String"},"Time_Path":{"type":"String"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/01_heartbeat_FS_json_source')]","[concat(variables('factoryId'), '/datasets/01_heartbeat_blob_json_sink')]","[concat(variables('factoryId'), '/datasets/01_heartbeat_FS_json_delete_source')]","[concat(variables('factoryId'), '/pipelines/02_ErrorFiles_ExceptionHandling')]"]},{"name":"[concat(parameters('factoryName'), '/01_heartbeat_FS_json_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"heartbeat"},"compression":{"type":"gzip","level":"Optimal"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01_heartbeat_blob_json_sink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('blobstoragetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":{"value":"@concat('heartbeat/',formatDateTime(subtractFromTime(pipeline().TriggerTime,1,'Hour'), 'yyyy/M/dd/HH'))","type":"Expression"},"container":"heartbeat"}},"schema":{"type":"object","properties":{"message_id":{"type":"string"},"event_group":{"type":"string"},"event_name":{"type":"string"},"asset_id":{"type":"string"},"content_id":{"type":"string"},"content_type_id":{"type":"string"},"subtitle":{"type":"string"},"progress":{"type":"string"},"video_Session_id":{"type":"string"},"random_key":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01_heartbeat_FS_json_delete_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":{"value":"@concat('heartbeat/',formatDateTime(subtractFromTime(pipeline().TriggerTime,1,'Hour'), 'yyyy/M/dd/HH'))","type":"Expression"}}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/02_ErrorFiles_ExceptionHandling')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Custom_Python_Errorlogs","type":"Custom","dependsOn":[{"activity":"Dumps_EndTime","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"command":"python3 main.py","resourceLinkedService":{"referenceName":"[parameters('blobstoragetest')]","type":"LinkedServiceReference"},"folderPath":"script","referenceObjects":{"linkedServices":[],"datasets":[]}},"linkedServiceName":{"referenceName":"[parameters('AzureBatchfreshpool_link')]","type":"LinkedServiceReference"}},{"name":"Copy_To_Destination_Blob_2","type":"Copy","dependsOn":[{"activity":"Loop_Mover_ErrorFiles","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@variables('D_StartTime')","type":"Expression"},"modifiedDatetimeEnd":{"value":"@variables('D_EndTime')","type":"Expression"},"wildcardFolderPath":"adfbatchdumps","wildcardFileName":"*","enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false,"parallelCopies":48,"enableSkipIncompatibleRow":true,"dataIntegrationUnits":32},"inputs":[{"referenceName":"02_adfbatchdumps_FS_json_source","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"01_heartbeat_blob_json_sink2","type":"DatasetReference","parameters":{}}]},{"name":"Lookup_Json_ErrorFiles","type":"Lookup","dependsOn":[{"activity":"Custom_Python_Errorlogs","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"02__FS_jsonerrorlogs_source","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"Loop_Mover_ErrorFiles","type":"ForEach","dependsOn":[{"activity":"Lookup_Json_ErrorFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup_Json_ErrorFiles').output.value","type":"Expression"},"activities":[{"name":"Move_Error_Files","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFolderPath":{"value":"@item().file_path","type":"Expression"},"wildcardFileName":{"value":"@item().file_name","type":"Expression"},"deleteFilesAfterCompletion":true},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","copyBehavior":"PreserveHierarchy"}},"enableStaging":false,"parallelCopies":48,"dataIntegrationUnits":32},"inputs":[{"referenceName":"02__FS_adfbatchdumps_binary_source","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"02__FS_error_binary_sink","type":"DatasetReference","parameters":{}}]}]}},{"name":"Copy_Batch_To_Dumps","type":"Copy","dependsOn":[{"activity":"Dumps_StartTime","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@pipeline().parameters.Start_Time","type":"Expression"},"modifiedDatetimeEnd":{"value":"@pipeline().parameters.End_Time","type":"Expression"},"wildcardFolderPath":"heartbeat","wildcardFileName":"*","deleteFilesAfterCompletion":true},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","copyBehavior":"PreserveHierarchy"}},"enableStaging":false,"parallelCopies":48,"dataIntegrationUnits":32},"inputs":[{"referenceName":"01_heartbeat_FS_binary_source","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"01__FS_adfbatchdumps_binary_sink","type":"DatasetReference","parameters":{}}]},{"name":"Delete_From_Source_ADFDumps_FileShare","type":"Delete","dependsOn":[{"activity":"Copy_To_Destination_Blob_2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"02_adfbatchdumps_FS_json_source","type":"DatasetReference","parameters":{}},"enableLogging":false,"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@variables('D_StartTime')","type":"Expression"},"modifiedDatetimeEnd":{"value":"@variables('D_EndTime')","type":"Expression"},"wildcardFileName":"*.gz","enablePartitionDiscovery":false}}},{"name":"Dumps_StartTime","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"D_StartTime","value":{"value":"@utcnow()","type":"Expression"}}},{"name":"Dumps_EndTime","type":"SetVariable","dependsOn":[{"activity":"Copy_Batch_To_Dumps","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"D_EndTime","value":{"value":"@utcnow()","type":"Expression"}}}],"concurrency":1,"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Start_Time":{"type":"string"},"End_Time":{"type":"string"}},"variables":{"D_StartTime":{"type":"String"},"D_EndTime":{"type":"String"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/02_adfbatchdumps_FS_json_source')]","[concat(variables('factoryId'), '/datasets/01_heartbeat_blob_json_sink2')]","[concat(variables('factoryId'), '/datasets/02__FS_jsonerrorlogs_source')]","[concat(variables('factoryId'), '/datasets/01_heartbeat_FS_binary_source')]","[concat(variables('factoryId'), '/datasets/01__FS_adfbatchdumps_binary_sink')]","[concat(variables('factoryId'), '/datasets/02__FS_adfbatchdumps_binary_source')]","[concat(variables('factoryId'), '/datasets/02__FS_error_binary_sink')]"]},{"name":"[concat(parameters('factoryName'), '/02_adfbatchdumps_FS_json_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"adfbatchdumps"},"compression":{"type":"gzip","level":"Fastest"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01_heartbeat_blob_json_sink2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('blobstoragetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"heartbeat"}},"schema":{"type":"object","properties":{"message_id":{"type":"string"},"event_group":{"type":"string"},"event_name":{"type":"string"},"asset_id":{"type":"string"},"content_id":{"type":"string"},"content_type_id":{"type":"string"},"subtitle":{"type":"string"},"progress":{"type":"string"},"video_Session_id":{"type":"string"},"random_key":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/02__FS_jsonerrorlogs_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":"ErrorLogs.json","folderPath":"jsonerrorlogs"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01_heartbeat_FS_binary_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01__FS_adfbatchdumps_binary_sink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"adfbatchdumps"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/02__FS_adfbatchdumps_binary_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"adfbatchdumps"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/02__FS_error_binary_sink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"error"}}},"dependsOn":[]}]}