Adf_pipeline/Template/02_ErrorFiles_ExceptionHandling/02_ErrorFiles_ExceptionHandling.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"blobstoragetest":{"type":"string"},"AzureBatchfreshpool_link":{"type":"string"},"filesharetest":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/02_ErrorFiles_ExceptionHandling')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Custom_Python_Errorlogs","type":"Custom","dependsOn":[{"activity":"Dumps_EndTime","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"command":"python3 main.py","resourceLinkedService":{"referenceName":"[parameters('blobstoragetest')]","type":"LinkedServiceReference"},"folderPath":"script","referenceObjects":{"linkedServices":[],"datasets":[]}},"linkedServiceName":{"referenceName":"[parameters('AzureBatchfreshpool_link')]","type":"LinkedServiceReference"}},{"name":"Copy_To_Destination_Blob_2","type":"Copy","dependsOn":[{"activity":"Loop_Mover_ErrorFiles","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@variables('D_StartTime')","type":"Expression"},"modifiedDatetimeEnd":{"value":"@variables('D_EndTime')","type":"Expression"},"wildcardFolderPath":"adfbatchdumps","wildcardFileName":"*","enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false,"parallelCopies":48,"enableSkipIncompatibleRow":true,"dataIntegrationUnits":32},"inputs":[{"referenceName":"02_adfbatchdumps_FS_json_source","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"01_heartbeat_blob_json_sink2","type":"DatasetReference","parameters":{}}]},{"name":"Lookup_Json_ErrorFiles","type":"Lookup","dependsOn":[{"activity":"Custom_Python_Errorlogs","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"02__FS_jsonerrorlogs_source","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"Loop_Mover_ErrorFiles","type":"ForEach","dependsOn":[{"activity":"Lookup_Json_ErrorFiles","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup_Json_ErrorFiles').output.value","type":"Expression"},"activities":[{"name":"Move_Error_Files","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFolderPath":{"value":"@item().file_path","type":"Expression"},"wildcardFileName":{"value":"@item().file_name","type":"Expression"},"deleteFilesAfterCompletion":true},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","copyBehavior":"PreserveHierarchy"}},"enableStaging":false,"parallelCopies":48,"dataIntegrationUnits":32},"inputs":[{"referenceName":"02__FS_adfbatchdumps_binary_source","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"02__FS_error_binary_sink","type":"DatasetReference","parameters":{}}]}]}},{"name":"Copy_Batch_To_Dumps","type":"Copy","dependsOn":[{"activity":"Dumps_StartTime","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@pipeline().parameters.Start_Time","type":"Expression"},"modifiedDatetimeEnd":{"value":"@pipeline().parameters.End_Time","type":"Expression"},"wildcardFolderPath":"heartbeat","wildcardFileName":"*","deleteFilesAfterCompletion":true},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","copyBehavior":"PreserveHierarchy"}},"enableStaging":false,"parallelCopies":48,"dataIntegrationUnits":32},"inputs":[{"referenceName":"01_heartbeat_FS_binary_source","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"01__FS_adfbatchdumps_binary_sink","type":"DatasetReference","parameters":{}}]},{"name":"Delete_From_Source_ADFDumps_FileShare","type":"Delete","dependsOn":[{"activity":"Copy_To_Destination_Blob_2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"02_adfbatchdumps_FS_json_source","type":"DatasetReference","parameters":{}},"enableLogging":false,"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@variables('D_StartTime')","type":"Expression"},"modifiedDatetimeEnd":{"value":"@variables('D_EndTime')","type":"Expression"},"wildcardFileName":"*.gz","enablePartitionDiscovery":false}}},{"name":"Dumps_StartTime","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"D_StartTime","value":{"value":"@utcnow()","type":"Expression"}}},{"name":"Dumps_EndTime","type":"SetVariable","dependsOn":[{"activity":"Copy_Batch_To_Dumps","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"D_EndTime","value":{"value":"@utcnow()","type":"Expression"}}}],"concurrency":1,"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Start_Time":{"type":"string"},"End_Time":{"type":"string"}},"variables":{"D_StartTime":{"type":"String"},"D_EndTime":{"type":"String"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/02_adfbatchdumps_FS_json_source')]","[concat(variables('factoryId'), '/datasets/01_heartbeat_blob_json_sink2')]","[concat(variables('factoryId'), '/datasets/02__FS_jsonerrorlogs_source')]","[concat(variables('factoryId'), '/datasets/01_heartbeat_FS_binary_source')]","[concat(variables('factoryId'), '/datasets/01__FS_adfbatchdumps_binary_sink')]","[concat(variables('factoryId'), '/datasets/02__FS_adfbatchdumps_binary_source')]","[concat(variables('factoryId'), '/datasets/02__FS_error_binary_sink')]"]},{"name":"[concat(parameters('factoryName'), '/02_adfbatchdumps_FS_json_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"adfbatchdumps"},"compression":{"type":"gzip","level":"Fastest"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01_heartbeat_blob_json_sink2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('blobstoragetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"heartbeat"}},"schema":{"type":"object","properties":{"message_id":{"type":"string"},"event_group":{"type":"string"},"event_name":{"type":"string"},"asset_id":{"type":"string"},"content_id":{"type":"string"},"content_type_id":{"type":"string"},"subtitle":{"type":"string"},"progress":{"type":"string"},"video_Session_id":{"type":"string"},"random_key":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/02__FS_jsonerrorlogs_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":"ErrorLogs.json","folderPath":"jsonerrorlogs"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01_heartbeat_FS_binary_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/01__FS_adfbatchdumps_binary_sink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"adfbatchdumps"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/02__FS_adfbatchdumps_binary_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"adfbatchdumps"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/02__FS_error_binary_sink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('filesharetest')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"error"}}},"dependsOn":[]}]}